/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* common style or utilities */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* header styles */

.header-main {
    background-color:
        #161616;
    display: flex;
    width: 72%;
    margin: auto;
    padding: 10px 80px 0;
    margin-top: 50px;
    border-radius: 25px;
}

.half-width {
    width: 50%;
    margin-top: 50px;
    margin-bottom: -7px;
}

.half-width h1 {
    color: #FFFFFF;
    font-size: 70px;
    line-height: 1.3;
}

.half-width p {
    color: #FFFFFF;
    font-size: 14px;
    padding-right: 130px;
    margin-bottom: 50px;
}


.btn a {
    text-decoration: none;
    background-color: #DD0000;
    color: #FFFFFF;
    padding: 16px 25px;
    border-radius: 5px;
    transition: 1s;
    border: 1px solid #DD0000;
}

.btn a:hover {
    border: 1px solid #FCE543;
    background: none;
    color: #FCE543;
}

.fa-solid {
    margin-left: 10px;
}

.half-width img {
    width: 100%;
}

/* header end */

/* main button and blog section style */

/* info section style */
.info-section {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 100px auto;
}

/* main button style */
.main-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #161616;
    padding: 15px 30px;
    height: 240px;
    border-radius: 10px;
    margin-top: 30px;
}

.main-button a {
    text-decoration: none;
    width: 74%;
    padding: 16px 25px;
    text-align: center;
    font-weight: 500;
}

.info-btn {
    background-color: #FFFFFF;
    color: #161616;
    border-radius: 10px;
}

.blog-btn {
    background-color: #DD0000;
    color: #FFFFFF;
    padding: 16px 25px;
    border-radius: 10px;
}

/* blog style */

.blogs {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog {
    width: 298px;
    border: 1px solid rgb(198 198 198 / 30%);
    border-radius: 12px;
}

.blog img {
    border-radius: 10px 10px 0 0;
}

.blog img {
    width: 100%;
}

.blog-details {
    padding: 10px 15px 20px;
}

.transfer-btn {
    margin-top: 10px;
}

.transfer-btn a {
    text-decoration: none;
    border: 2px solid #161616;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 500;
    color: #161616;
}

.transer-text {
    font-weight: 600;
}

.transfer-duration {
    display: flex;
    color: #747171;
}

.fa-regular {
    margin-right: 5px;
}

.transfer-comment {
    margin-left: 25px;
}

/* For Responsive Pages */
.responsive-btn {
    display: none;
}

/* footer area style */

footer {
    background-color: #161616;
    text-align: center;
    padding: 80px 0 50px;
}

footer hr {
    width: 80%;
    height: 1px;
    background-color: rgba(235, 235, 235, 0.21);
    border: none;
}

footer h2 {
    color: #FFFFFF;
}

.footer-menu {
    margin: 30px;
}

.footer-menu a {
    text-decoration: none;
    color: #B9B9B9;
    margin-left: 40px;
    font-size: 14px;
}

.social a {
    text-decoration: none;
    color: #FFFFFF;
}

.fa-brands {
    padding: 0 15px;
}

/*-------------------
    Media Queries
 ------------------- */

/* Tablet Device Style */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* header area */
    .header-main h1 {
        font-size: 36px;
    }

    .header-main p {
        padding-right: 20px;
        margin-bottom: 32px;
    }

    .half-width {
        margin-top: 10px;
    }

    .half-width img {
        width: 125%;
    }

    /* main area */
    .info-section {
        flex-direction: column;
        margin: 50px auto;
    }

    /* button style */
    .main-button {
        flex-direction: row;
        background: none;
        height: 90px;
        margin-top: 0;
    }

    .main-button a {
        padding: 16px 20px;
        margin: 0 10px;
    }

    .info-btn {
        border: 1px solid #B9B9B9;
    }

    /* blog style */
    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    /* For responsive pages style */
    .responsive-btn {
        text-align: center;
        margin-top: 50px;
    }

    .responsive-btn a {
        text-decoration: none;
        background-color: #DD0000;
        color: #FFFFFF;
        padding: 16px 30px;
        border-radius: 5px;
        transition: 1s;
        border: 1px solid #DD0000;
    }

    /* footer style */
    footer {
        padding: 50px 0 50px;
    }

    .footer-menu {
        padding: 0 75px;
    }

}

/* Mobile Device Style */
@media screen and (max-width: 767px) {

    /* header area style */
    .header-main {
        flex-direction: column;
        padding: 10px 40px 0;
        text-align: center;
    }

    .half-width {
        margin-top: 30px;
        width: 100%;
    }

    .half-width img {
        margin-left: 15px;
    }

    .header-main h1 {
        font-size: 28px;
    }

    .header-main p {
        padding-right: 0;
    }

    /* button style */
    .info-section {
        flex-direction: column;
        margin: 0 auto;
    }

    .main-button {
        background: none;
    }

    .main-button a {
        padding: 16px 20px;
        margin: 0 10px;
    }


    .info-btn {
        border: 1px solid #B9B9B9;
    }


    /* blog area style */
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    /* footer area style */
    .footer-menu {
        display: flex;
        flex-direction: column;
    }

    .footer-menu a {
        margin-left: 0;
        margin: 10px auto;
    }
}